snippet __author=
Eira Chae
endsnippet

snippet __email=
vine9151@gmail.com
endsnippet

snippet __addr=
https://github.com/vine91
endsnippet

snippet __name=
`!v expand('%:t')`
endsnippet

snippet __path=
`!v expand('%:p')`
endsnippet

snippet __pwd=
`!v expand('%:p:h')`
endsnippet

snippet __time=
`date +%y%m%d_%H_%M`
endsnippet
