snippet --=
--[[
-   $0
]]
endsnippet

snippet __comment=
--[[
-   NOTE      - `!v expand('%:t')`
-   Author    - ${1:Aru}
-
-   Created   - `date +%Y.%m.%d`
-   Github    - https://github.com/aruyu
-   Contact   - vine9151@gmail.com
]]

$0
endsnippet
