snippet --=
--[[
-   ${0}
]]
endsnippet

snippet __comment=
--[[
-   NOTE      - `!v expand('%:t')`
-   Author    - Ista
-
-   Created   - `date +%Y.%m.%d`
-   Github    - https://github.com/vine91
-   Contact   - vine9151@gmail.com
]]
endsnippet
