snippet ##=
# =====
# $0
# =====
endsnippet

snippet __comment=
#!/bin/bash
# -
# `!v expand('%:t')`
# =====
# ${2}
#
# ${1:ZepN} <`!p
def format_comment(path):
  if path.startswith("Chae") or path.startswith(" "):
    retval = "chaelj@solidwt.co.kr"
  else:
    retval = "zepn.git@gmail.com"
  return retval

snip.rv = format_comment(t[1])
`> +`date +%Y.%m.%d`
# -



$0
endsnippet

snippet __comment_all=
#!/bin/bash
# -
# `!v expand('%:t')`
# =====
# ${2}
#
# ${1:ZepN} <`!p
def format_comment(path):
  if path.startswith("Chae") or path.startswith(" "):
    retval = "chaelj@solidwt.co.kr"
  else:
    retval = "zepn.git@gmail.com"
  return retval

snip.rv = format_comment(t[1])
`> +`date +%Y.%m.%d`
# -



CC      = ${3:gcc}
CFLAGS  = ${4:-std=c11 -g}
LDFLAGS =
LDLIBS  =
OBJS    = ${5}
LIBS    =
TARGETS = `!p
def format_parameter_name(path):
  parts = path.split(' ')
  retval = ''

  if parts[0].endswith('.o'):
    temp = parts[0].split('.')[0]
    retval += temp

  return retval

snip.rv = format_parameter_name(t[5])
`

BOARD      ?= ${6}
CUR_DIR    ?= $(shell pwd)
TFTP_DIR   ?= /tftpboot/$(BOARD)_images_$(USER)
TARGET_DIR ?= $(CUR_DIR)/${7}



help:
	@echo

all: $(TARGETS)

$(TARGETS): $(OBJS)
	$(CC) $(CFLAGS) -o $@ $^ $(LIBS)

#%.o : %.c %.h
#	$(CC) $(CFLAGS) -c -o $@ $<

`!p
def format_parameter_name(path):
  parts = path.split(' ')
  retval = ''

  for part in parts:
    if part.endswith('.o'):
      temp = part.split('.')[0]
      retval += part + ': ' + temp + '.c ' + temp + '.h' + '\n	$(CC) $(CFLAGS) -c -o $@ $<' + '\n\n'

  return retval

snip.rv = format_parameter_name(t[5])
`
.PHONY : clean
clean:
	$(RM) $(OBJS)
	$(RM) $(TARGETS)

install:
	$0
endsnippet
