snippet ##=
# =====
# $0
# =====
endsnippet

snippet __comment=
#!/bin/tclsh
# -
# `!v expand('%:t')`
# =====
# ${2}
#
# ${1:ZepN} <`!p
def format_comment(path):
  if path.startswith("Chae") or path.startswith(" "):
    retval = "chaelj@solidwt.co.kr"
  else:
    retval = "zepn.git@gmail.com"
  return retval

snip.rv = format_comment(t[1])
`> +`date +%Y.%m.%d`
# -



$0
endsnippet

snippet __comment_compile=
#!/bin/tclsh
# -
# `!v expand('%:t')`
# =====
# ${2:Compile Testbench}
#
# ${1:ZepN} <`!p
def format_comment(path):
  if path.startswith("Chae") or path.startswith(" "):
    retval = "chaelj@solidwt.co.kr"
  else:
    retval = "zepn.git@gmail.com"
  return retval

snip.rv = format_comment(t[1])
`> +`date +%Y.%m.%d`
# -



# =====
# -. Procedure to compile file
# =====
proc compile_file {src_file target} {
  try {
    if { [string equal -nocase ${target} "HDL"] } {
      set version 93
    } elseif { [string equal -nocase ${target} "TB"] } {
      set version 2008
    } else {
      puts "Warning: Unknown target ${target}"
      return
    }

    if { [string match "*.vhd" ${src_file}] || [string match "*.vhdl" ${src_file}] } {
      # Case for VHDL. [ -autoorder, -just p/b/e/a ]
      vcom -quiet -mixedsvvh l -${version} -work work ${src_file}
    } elseif { [string match "*.v" ${src_file}] || [string match "*.sv" ${src_file}] } {
      # Case for Verilog/SystemVerilog. [ -mfcu ]
      vlog -quiet -work work ${src_file}
    } else {
      # Other cases.
      puts "Warning: Unknown file type for ${src_file}"
    }
    return 0
  } on error {msg} {
    return -1
  }
}


# =====
# -. Procedure to compile file with auto order
# =====
proc compile_autoorder {src_files target} {
  set pending_files ${src_files}
  set max_passes 5
  set pass 1

  while { [llength ${pending_files}] > 0 && ${pass} <= ${max_passes} } {
    puts "Compiling [llength ${pending_files}] file(s)... RETRY ${pass} of ${max_passes}"

    set failed_files {}

    foreach single_file ${pending_files} {
      if { [compile_file ${single_file} ${target}] != 0 } {
        lappend failed_files ${single_file}
      }
    }

    if { [llength ${failed_files}] == [llength ${pending_files}] } {
      puts "Failed to compile [llength ${pending_files}] file(s):"
      foreach failed_file ${failed_files} {
        puts "${failed_file}"
      }
      break
    }

    set pending_files ${failed_files}
    incr pass
  }
}


# =====
# -. Procedure to compile all of files
# =====
proc compile_all {src_dir target} {
  set ext_points {
    "vhd"
    "vhdl"
    "v"
    "sv"
  }

  foreach ext ${ext_points} {
    set src_files [glob -nocomplain [file join ${src_dir} "*.${ext}"]]

    if { [llength ${src_files}] != 0 } {
      puts "\nStarting compile files: ${src_dir}/*.${ext}"
      compile_autoorder ${src_files} ${target}
    }
  }

  set sub_dirs [glob -nocomplain -types d [file join ${src_dir} *]]
  foreach sub_dir ${sub_dirs} {
    compile_all ${sub_dir} ${target}
  }
}


# =====
# 1. Set variables
# =====
set src_directory "../../SRCS"
set hdl_directory "${src_directory}/hdl/${3}"
set tb_directory "${src_directory}/tb/$3"


# =====
# 2. Map library
# =====
vlib work
vmap work work


# =====
# 3. Compile files
# =====
puts "\n===      Compile HDL/TB      ==="
compile_all ${hdl_directory} "HDL"
compile_all ${tb_directory} "TB"


# =====
# 4. Refresh
# =====
vcom -refresh -work work
vlog -refresh -work work
$0
endsnippet

snippet __comment_run=
#!/bin/tclsh
# -
# `!v expand('%:t')`
# =====
# ${2:Run Testbench}
#
# ${1:ZepN} <`!p
def format_comment(path):
  if path.startswith("Chae") or path.startswith(" "):
    retval = "chaelj@solidwt.co.kr"
  else:
    retval = "zepn.git@gmail.com"
  return retval

snip.rv = format_comment(t[1])
`> +`date +%Y.%m.%d`
# -



# =====
# 1. Set variables
# =====
set tb_top ${3}


# =====
# 2. Simulation
# =====
vsim -t 1ps           \
     -L work          \
     -voptargs="+acc" \
     -onfinish stop   \
     work.${tb_top}


# =====
# 3. Create waves
# =====
#write format wave -window .main_pane.wave.interior.cs.body.pw.wf ./wave.do
#do wave.do


# =====
# 4. Run
# =====
puts "\n=== Start Simulation ${tb_top} ===\n"
#do ../bind.tcl

#set run_flag 1
#live_simulation

run -all
$0
endsnippet

snippet __comment_lib=
#!/bin/tclsh
# -
# `!v expand('%:t')`
# =====
# ${2:Add external library}
#
# ${1:ZepN} <`!p
def format_comment(path):
  if path.startswith("Chae") or path.startswith(" "):
    retval = "chaelj@solidwt.co.kr"
  else:
    retval = "zepn.git@gmail.com"
  return retval

snip.rv = format_comment(t[1])
`> +`date +%Y.%m.%d`
# -



# =====
# -. Procedure to compile file
# =====
proc compile_file {src_file target} {
  try {
    if { [string match "*.vhd" ${src_file}] || [string match "*.vhdl" ${src_file}] } {
      # Case for VHDL. [ -autoorder, -just p/b/e/a ]
      vcom -quiet -mixedsvvh l -93 -work ${target} ${src_file}
    } elseif { [string match "*.v" ${src_file}] || [string match "*.sv" ${src_file}] } {
      # Case for Verilog/SystemVerilog. [ -mfcu ]
      vlog -quiet -work ${target} ${src_file}
    } else {
      # Other cases.
      puts "Warning: Unknown file type for ${src_file}"
    }
    return 0
  } on error {msg} {
    return -1
  }
}


# =====
# -. Procedure to compile file with auto order
# =====
proc compile_autoorder {src_files target} {
  set pending_files ${src_files}
  set max_passes 5
  set pass 1

  while { [llength ${pending_files}] > 0 && ${pass} <= ${max_passes} } {
    puts "Compiling [llength ${pending_files}] file(s)... RETRY ${pass} of ${max_passes}"

    set failed_files {}

    foreach single_file ${pending_files} {
      if { [compile_file ${single_file} ${target}] != 0 } {
        lappend failed_files ${single_file}
      }
    }

    if { [llength ${failed_files}] == [llength ${pending_files}] } {
      puts "Failed to compile [llength ${pending_files}] file(s):"
      foreach failed_file ${failed_files} {
        puts "${failed_file}"
      }
      break
    }

    set pending_files ${failed_files}
    incr pass
  }
}


# =====
# -. Procedure to compile all of files
# =====
proc compile_all {src_dir target} {
  set ext_points {
    "vhd"
    "vhdl"
    "v"
    "sv"
  }

  foreach ext ${ext_points} {
    set src_files [glob -nocomplain [file join ${src_dir} "*.${ext}"]]

    if { [llength ${src_files}] != 0 } {
      puts "\nStarting compile files: ${src_dir}/*.${ext}"
      compile_autoorder ${src_files} ${target}
    }
  }

  set sub_dirs [glob -nocomplain -types d [file join ${src_dir} *]]
  foreach sub_dir ${sub_dirs} {
    compile_all ${sub_dir} ${target}
  }
}


# =====
# 1. Set variables
# =====
set lib_name ${3}
set lib_directory "${4}/${lib_name}"

set module_names {
  ${5}
}


# =====
# 2. Map library
# =====
vlib ${lib_name}
vmap ${lib_name} ${lib_name}


# =====
# 3. Compile library
# =====
foreach module ${module_names} {
  puts "\n=== Compile ${lib_name}/${module} ==="
  compile_all ${lib_directory}/[file rootname ${module}] ${lib_name}
}


# =====
# 4. Refresh
# =====
vcom -refresh -work ${lib_name}
vlog -refresh -work ${lib_name}
$0
endsnippet

snippet if
if {${1}} {
  $0
}
endsnippet

snippet else
else {
  $0
}
endsnippet

snippet "if .. elseif"
if {${1}} {
  ${3}
} elseif {${2:$1}} {
  $0
}
endsnippet

snippet while
while {${1:1}} {
	$0
}
endsnippet

snippet "for set i <= .."
for {set ${1:i} 0} {$1 <= ${2}} {incr $1} {
	$0
}
endsnippet

snippet "for set i >= .."
for {set ${1:i} 0} {$1 >= ${2}} {incr $1} {
	$0
}
endsnippet

snippet foreach
foreach ${1:i} ${2:list} {
  $0
}
endsnippet

snippet switch
switch ${1} {
  ${2:0}
    {$0}

  default
    {}
}
endsnippet

snippet proc
proc ${1:name} {${2}} {
  $0
}
endsnippet
