snippet //=
// =================================== //
//  ${1}
// =================================== //
$0
/* -----------------------------------
 */
endsnippet

snippet __brief=
/**
 * @${1:brief} $0
 * [C; `date +%Y.%m.%d`, M;]
 */
endsnippet

snippet __comment=
\`timescale 1ns / 1ps
/**
 * @file `!v expand('%:t')`
 * =====
 * ${2}
 *
 * ${1:ZepN} <`!p
def format_comment(path):
  if path.startswith("Chae") or path.startswith(" "):
    retval = "chaelj@solidwt.co.kr"
  else:
    retval = "zepn.git@gmail.com"
  return retval

snip.rv = format_comment(t[1])
`> +`date +%Y.%m.%d`
 */

$0
endsnippet

snippet module
module ${1} #(
)(
    // CLK RST
    $0
);
endmodule
endsnippet

snippet submodule
${1} #(
) ${2:`!p
def format_import_name(path):
  return "u_" + path

snip.rv = format_import_name(t[1])
`} (
    $0
);
endsnippet

snippet interface
interface ${1} #(
)(
    // CLK RST
    $0
);
endinterface
endsnippet

snippet package
package ${1};
    $0
endpackage
endsnippet

snippet class
class ${1};
    $0
endclass
endsnippet

snippet clocking
clocking ${1:cb} @(posedge ${2:clk}) (
    $0
);
endclocking
endsnippet

snippet modport
modport ${1:tb} (
    // CLK RST
    $0
);
endsnippet

snippet task
task ${1:automatic} ${2}();
    $0
endtask
endsnippet

snippet initial
initial begin
    $0
end
endsnippet

snippet parameter
parameter ${1:integer} ${2} = $0
endsnippet

snippet input
input [${1}:0] $0
endsnippet

snippet output
output [${1}:0] $0
endsnippet

snippet inout
inout [${1}:0] $0
endsnippet

snippet wire
wire [${1}:0] $0
endsnippet

snippet reg
reg [${1}:0] $0
endsnippet

snippet logic
logic [${1}:0] $0
endsnippet

snippet assign
assign ${1} = ${2} ? ${3} : $0
endsnippet

snippet always
always @(posedge ${1:clk}) begin
    $0
end
endsnippet

snippet always_comb
always_comb begin
    $0
end
endsnippet

snippet always_ff
always_ff @(posedge ${1:clk}) begin
    $0
end
endsnippet

snippet always_latch
always_latch begin
    $0
end
endsnippet

snippet "for int i <= .."
for (int ${1:i}=0; $1<=${2}; $1++) begin
    $0
end
endsnippet

snippet "for int i >= .."
for (int ${1:i}=0; $1>=${2}; $1++) begin
    $0
end
endsnippet

snippet foreach
foreach (${1:list}[${2:i}]) begin
    $0
end
endsnippet

snippet while
while (${1:1}) begin
    $0
end
endsnippet

snippet repeat
repeat (${1:1}) @(posedge ${2:clk});
$0
endsnippet

snippet "repeat .. begin"
repeat (${1:1}) begin
    @(posedge ${2:clk});
    $0
end
endsnippet

snippet if
if (${1}) begin
    $0
end
endsnippet

snippet else
else begin
    $0
end
endsnippet

snippet elif
else if (${1}) begin
    $0
end
endsnippet

snippet ifelse
if (${1}) begin
    ${2}
end
else begin
    $0
end
endsnippet

snippet case
case (${1})
    ${2:0}: $0
    default:
endcase
endsnippet

snippet "case .. begin"
case (${1})
    ${2:0}: begin
        $0
    end

    default: begin

    end
endcase
endsnippet

snippet `include
\`include "$0.v"
endsnippet

